<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dgteorico">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ResultActivitySimulacro" />
        <activity android:name=".Simulacro" />
        <activity android:name=".ResultActivitySeniales" />
        <activity android:name=".Seniales" />
        <activity android:name=".ResultActivityCarreteras" />
        <activity android:name=".Carreteras" />
        <activity android:name=".ResultActivityDrogas" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Registro">

        </activity>
        <activity android:name=".PantallaHome">

        </activity>
        <activity android:name=".Categorias">

        </activity>
        <activity android:name=".Drogas">

        </activity>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>